 /* ==================================================
    ************ COLUMNA LEFT ************
=====================================================*/
.left{
  /*   background-color: aqua;
    border: 1px solid black; */
    height: 400px;
}

.left h2{
    text-align: center;
}

.left .formulario{
    margin-top: 20px;
    margin-left: 30px;
}

.formulario label{
    vertical-align: top;
    width: 20%;
    display: inline-block;
    margin-left: 40px;
    margin-right: 30px;
}

.formulario input, textarea{
    background-color: white;
    border-radius: 5px;
    border: 1px solid #999 ;
    padding: 0.4em 0.6em;
    font-size: 0.8em;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

.formulario input[type="submit"]{
    background-color: #D10000; 
    box-shadow: 0 0 10px rgba(0 0 0,0.4);
    color: white;
    font-size: 1em;
    width: 100px;
    cursor: pointer;  
    margin-left:175px ; 
   
}

 /* ==================================================
    ************ COLUMNA RIGTH ************
=====================================================*/
.right{
   /*  background-color: aqua;
    border: 1px solid black; */
    height: 400px;
    display: inline-block;
}

.right h2{
    text-align: center;
}

.right p, .rSociales{
    margin-left: 55px;
}

.right ul li a {
    font-size: 1.1em;
    text-decoration: none;
    margin-left: 10px;
    color: cornsilk;
    font-family: 'Merienda', cursive ,'Tangerine', cursive;
} 


