<main>
    <div class="container holder" style="margin-top: 100px;">
        <div class="row">
            <form class="formulario" action="/admin/login" method="post">
                
                <div class="d-grid gap-3">
                <div class="p-2">
                    <input type="text" class="form-control" id="inputUser" placeholder="Ingrese su usuario" name="usuario">
                </div>
                <div class="p-2">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Ingrese su contraseña" name="password">
                </div>
                <div class="p-2">
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                </div>
                </div>            
            </form>
            {{#if error}}
            <p>Usuario o Password no valido..!</p>
            {{/if}}
        </div>   
    </div>
</main>